[alias]
	co = checkout
	br = branch
	ci = commit
	st = status -s
	unstage = reset HEAD --
	last = log -1 HEAD
[user]
  	name = Chris Goudet
  	email = me@chrisgoudet.com
[core]
	pager = more
[help]
	autocorrect = 1
[color]
	ui = true
